@font-face {
    font-family: "robo";
    src: url(./assets/fonts/Roboto.ttf);
}

@font-face {
    font-family: "int";
    src: url(./assets/fonts/Inter-Regular.otf);
}

@font-face {
    font-family: "read";
    src: url(./assets/fonts/ReadexPro-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}


/*section1*/

.section1{
    width: 1110px;
    margin: auto;
}

.container1_sec1{
    width: 1110px;
    height: 140px;
    margin-top: 40px;
}

.a1{
    font-family: "robo";
    font-size: 16px;
    color: rgba(171, 171, 171, 1);
}

.a2{
    font-family: "robo";
    font-size: 16px;
    color: rgba(69, 69, 69, 1);
}

.text1_sec1{
    font-family: "robo";
    font-size: 32px;
    margin-top: 30px;
}

@media(max-width:1200px){
    /*section1*/
    
    .section1{
        width: 1024px;
        margin: auto;
    }
    
    .container1_sec1{
        width: 1024px;
        height: 140px;
        margin-top: 40px;
    }
}

@media(max-width:500px){
    /*section1*/
    
    .section1{
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container1_sec1{
        width: 330px;
        height: 120px;
        margin-top: 40px;
    }

    .text1_sec1{
        font-family: "robo";
        font-size: 20px;
        margin-top: 30px;
    }
}

/*section2*/

.section2{
    width: 1110px;
    margin: auto;
}

.container1_sec2{
    width: 1110px;
    height: 650px;
}

.text1_sec2{
    font-family: "robo";
    font-size: 28px;
    text-align: center;
}

.cont_img1_sec2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1_sec2{
    width: 374px;
    height: 379px;
    margin-top: 30px;
    animation: img1_sec2 2s infinite;
}

.text2_sec2{
    font-family: "robo";
    font-size: 24px;
    text-align: center;
    color: rgba(84, 84, 84, 1);
    margin-top: 30px;
}

.cont_btn1_sec2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1_sec2{
    width: 350px;
    height: 60px;
    border-radius: 8px;
    background-color: rgba(9, 29, 158, 1);
    color: white;
    font-family: "robo";
    font-size: 20px;
    margin-top: 30px;
}

.btn1_sec2:hover{
    background-image: linear-gradient(to right, rgb(142, 153, 224), rgb(23, 45, 188));
    border: 0;
    color: rgba(var(white));
    transform: scale(0.90);
    box-shadow: 0px 0px 10px 3px #ebeaea;
    transition:all 1s ease;
    
}



@keyframes img1_sec2 {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

@media(max-width:1200px){
    /*section2*/
    
    .section2{
        width: 1024px;
        margin: auto;
    }
    
    .container1_sec2{
        width: 1024px;
        height: 650px;
    }
}

@media(max-width:500px){
    /*section2*/
    
    .section2{
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container1_sec2{
        width: 330px;
        height: 500px;
    }

    .text1_sec2{
        font-family: "robo";
        font-size: 20px;
        text-align: center;
    }

    .text2_sec2{
        font-family: "robo";
        font-size: 16px;
        text-align: center;
        color: rgba(84, 84, 84, 1);
        margin-top: 30px;
    }

    .btn1_sec2{
        width: 267px;
        height: 49px;
        border-radius: 8px;
        background-color: rgba(9, 29, 158, 1);
        color: white;
        font-family: "robo";
        font-size: 16px;
        margin-top: 30px;
    }

    .img1_sec2{
        width: 283px;
        height: 289px;
        margin-top: 30px;
    }
}

/*section3*/

.section3{
    width: 1110px;
    margin: auto;
}

.container1_sec3{
    width: 1110px;
    height: 580px;
    margin-top: 40px;
    
}

.text1_sec3{
    font-family: "robo";
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.container2_sec3{
    width: 169px;
    height: 483px;
}

.text2_sec3{
    font-family: "robo";
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.txt_cont_sec3{
    display: flex;
}

.text3_sec3{
    font-family: "robo";
    font-size: 20px;
}

.text4_sec3{
    font-family: "robo";
    font-size: 14px;
    color: rgba(222, 222, 222, 1);
    text-decoration: line-through;
    margin-top: 6px;
    margin-left: 5px;
}

.text5_sec3{
    font-family: "robo";
    font-size: 14px;
    color: rgba(37, 199, 11, 1);
    margin-top: 10px;
}

.text_btn_sec3{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn1_sec3{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 3px #ebeaea;
    background-color: white;
}

.btn1_sec3:hover{
    box-shadow: 0px 0px 10px 3px #dbdbdb;
}


.img_heart{
    margin-top: 4px;
}

.img2_heart{
    display: none;
}

.btn1_sec3:active{
    .img2_heart{
        display: block;
        margin-left: 10px;
    }

    .img_heart{
        display: none;
    }
}

.img_smart1_sec3:hover{
    transform: scale(0.90);
    box-shadow: 0px 0px 10px 3px #ebeaea;
    transition:all 1s ease;
}

.btn2_sec3:hover{
    transform: scale(0.90);
    box-shadow: 0px 0px 10px 3px #ebeaea;
    transition:all 1s ease;
}


.btn2_sec3{
    width: 169px;
    height: 44px;
    border-radius: 8px;
    background-color: rgba(9, 29, 158, 1);
    color: white;
    font-family: "robo";
    font-size: 14px;
    margin-top: 20px;
}

.btn2_sec3:hover{
    background-image: linear-gradient(to right, rgb(142, 153, 224), rgb(23, 45, 188));
    border: 0;
    color: rgba(var(white));
}

.container1_5_sec3{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}


@media(max-width:1200px){
    /*section3*/

    .section3{
        width: 1024px;
        margin: auto;
    }
    
    .container1_sec3{
        width: 1024px;
        height: 580px;
        margin-top: 40px;
    }
}

@media(max-width:500px){
    /*section3*/

    .section3{
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container1_sec3{
        width: 330px;
        height: 500px;
        margin-top: 40px;
    }

    .img_smart1_sec3{
        width: 114px;
        height: 158px;
        margin-left: 16px;
    }

    .text1_sec3{
        font-family: "robo";
        font-size: 20px;
        margin-bottom: 30px;
    }

    .container2_sec3{
        width: 144px;
        height: 395px;
    }
    
    .text2_sec3{
        font-family: "robo";
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .text3_sec3{
        font-family: "robo";
        font-size: 18px;
    }
    
    .text4_sec3{
        font-family: "robo";
        font-size: 14px;
        color: rgba(222, 222, 222, 1);
        text-decoration: line-through;
        margin-top: 6px;
        margin-left: 5px;
    }
    
    .text_btn_sec3{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .btn1_sec3{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 3px #ebeaea;
        background-color: white;
    }
    
    .btn1_sec3:hover{
        box-shadow: 0px 0px 10px 3px #dbdbdb;
    }
    
    
    .img_heart{
        margin-top: 4px;
    }
    
    .img2_heart{
        display: none;
    }

    .btn2_sec3{
        width: 144px;
        height: 44px;
        border-radius: 8px;
        background-color: rgba(9, 29, 158, 1);
        color: white;
        font-family: "robo";
        font-size: 14px;
        margin-top: 20px;
    }
    
    .btn2_sec3:hover{
        background-image: linear-gradient(to right, rgb(142, 153, 224), rgb(23, 45, 188));
        border: 0;
        color: rgba(var(white));
    
    }
    
    .container1_5_sec3{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        width: 900px;
        height: 405px;
    }

    .cont_scroll_sec3{
        width: 330px;
        overflow: scroll;
        margin-bottom: 20px;
    }
}

/*footer*/

.head_foot{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.container1_foot{
    width: 330px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont1_foot{
    width: 315px;
    height: 46px;
    display: flex;
    justify-content: space-between;
}

.min_cont_foot{
    width: 53px;
    height: 46px;
}

.image_foot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1_foot{
    font-family: "robo";
    font-size: 14px;
    color: rgba(9, 29, 158, 1);
    margin-top: 5px;
}

.text_foot{
    font-family: "robo";
    font-size: 14px;
    color: rgba(69, 69, 69, 1);
}

.img1_foot{
    margin-bottom: 4px;
}

.img2_foot{
    margin-top: 5px;
    margin-bottom: 5px;
}

.img3_foot{
    margin-bottom: 5px;
}

.img4_foot{
    margin-bottom: 4px;
}

@media(max-width:500px){
    /*footer*/

    .head_foot{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        bottom: 0;
        background-color: white;
    }
    
    .container1_foot{
        width: 330px;
        height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cont1_foot{
        width: 315px;
        height: 46px;
        display: flex;
        justify-content: space-between;
    }
    
    .min_cont_foot{
        width: 53px;
        height: 46px;
    }
    
    .image_foot{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .text1_foot{
        font-family: "robo";
        font-size: 14px;
        color: rgba(9, 29, 158, 1);
        margin-top: 5px;
    }
    
    .text_foot{
        font-family: "robo";
        font-size: 14px;
        color: rgba(69, 69, 69, 1);
    }
    
    .img1_foot{
        margin-bottom: 4px;
    }
    
    .img2_foot{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .img3_foot{
        margin-bottom: 5px;
    }
    
    .img4_foot{
        margin-bottom: 4px;
    }
    
}