@font-face {
    font-family: "robo";
    src: url(./assets/fonts/Roboto.ttf);
}

@font-face {
    font-family: "int";
    src: url(./assets/fonts/Inter-Regular.otf);
}

@font-face {
    font-family: "read";
    src: url(./assets/fonts/ReadexPro-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

/*header*/
header{
    width: auto;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.header_main{
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: auto;
    height: 80px;
}


.logo_header{
    margin-top: 30px;
}

.header_menu{
    display: flex;
    margin-top: 28px;
    font-family: "int";
}

.text_menu{
    margin-left: 50px;
    font-size: 14px;
    color: #4C5866;
}

.inp_header{
    margin-top: 20px;
}

.inp_head{
    width: 600px;
    height: 40px;
    background-color: rgba(222, 222, 222, 1);
    border-radius: 8px;
    padding-left: 20px;
    font-size: 16px;
}



@media(max-width:1200px){
    /*header*/
    .header_main{
        width: 1024px;
        margin: auto;

    }

    .inp_head{
        width: 500px;
        height: 40px;
        background-color: rgba(222, 222, 222, 1);
        border-radius: 8px;
        padding-left: 20px;
        font-size: 16px;
    }
}

@media(max-width:500px){
    /*header*/
    .header_main{
        width: 370px;
        margin: auto;

    }

    .inp_head{
        width: 330px;
        height: 47px;
        background-color: rgba(222, 222, 222, 1);
        border-radius: 8px;
        padding-left: 20px;
        font-size: 16px;
        
    }

    .inp_header{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .header_menu{
        display: none;
        margin-top: 28px;
        font-family: "int";
    }

    .header_main{
        flex-direction: column;
        width: 370px;
        margin: auto;
        height: 139px;
    }

    .logo_header{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    
}

/*section1*/

.section1{
    width: 1110px;
    margin: auto;
}

.container1_sec1{
    width: 1110px;
    height: 140px;
    margin-top: 40px;
}

.a1{
    font-family: "robo";
    font-size: 16px;
    color: rgba(171, 171, 171, 1);
}

.a2{
    font-family: "robo";
    font-size: 16px;
    color: rgba(69, 69, 69, 1);
}

.text1_sec1{
    font-family: "robo";
    font-size: 32px;
    margin-top: 30px;
}

@media(max-width:1200px){
    /*section1*/
    
    .section1{
        width: 1024px;
        margin: auto;
    }
    
    .container1_sec1{
        width: 1024px;
        height: 140px;
        margin-top: 40px;
    }
}

@media(max-width:500px){
    /*section1*/
    
    .section1{
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container1_sec1{
        width: 330px;
        height: 120px;
        margin-top: 40px;
    }

    .text1_sec1{
        font-family: "robo";
        font-size: 20px;
        margin-top: 30px;
    }
}

/*section2*/

.section2{
    width: 1110px;
    margin: auto;
}

.container1_sec2{
    width: 1110px;
    height: 1093px;
    margin-top: 40px;
    display: flex;
}

.container2_sec2{
    width: 280px;
    height: 710px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 3px #ebeaea;
}

.container3_sec2{
    width: 800px;
    height: 1093px;
    margin-left: auto;
}

.cont_inputs{
    width: 257px;
    height: 40px;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.text1_sec2{
    font-family: "robo";
    font-size: 14px;
    margin-left: 12px;
    margin-top: 20px;
}

.inp1_sec2{
    width: 89px;
    height: 40px;
    background-color: rgba(188, 197, 255, 1);
    font-family: "robo";
    font-size: 14px;
    color: rgba(69, 69, 69, 1);
    padding-left: 10px;
    border-radius: 8px;
}

.inp2_sec2{
    width: 106px;
    height: 40px;
    background-color: rgba(188, 197, 255, 1);
    font-family: "robo";
    font-size: 14px;
    color: rgba(69, 69, 69, 1);
    padding-left: 10px;
    margin-left: auto;
    border-radius: 8px;
}

.img_line_sec2{
    margin-top: 6px;
}

.cont_filter{
    width: 130px;
    height: 188px;
    margin-top: 30px;
    margin-left: 12px;
}

.cont2_filter{
    width: 139px;
    height: 132px;
    margin-left: 12px;
}

.cont3_filter{
    width: 139px;
    height: 132px;
    margin-left: 12px;
}

.cont4_filter{
    width: 139px;
    height: 132px;
    margin-left: 12px;
}

.text2_sec2{
    font-family: "robo";
    font-size: 14px;
}

.txt_check{
    display: flex;
    margin-top: 10px;
}

.check1{
    
}

.text3_sec2{
    font-family: "robo";
    font-size: 14px;
    color: rgba(69, 69, 69, 1);
    margin-left: 5px;
}

.container4_sec2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.container4_1_sec2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container5_sec2{
    width: 169px;
    height: 483px;
}

.text4_sec2{
    font-family: "robo";
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text_dop_sec2{
    display: none;
}

.txt_cont_sec2{
    display: flex;
}

.text5_sec2{
    font-family: "robo";
    font-size: 20px;
}

.text6_sec2{
    font-family: "robo";
    font-size: 14px;
    color: rgba(222, 222, 222, 1);
    text-decoration: line-through;
    margin-top: 6px;
    margin-left: 5px;
}

.text7_sec2{
    font-family: "robo";
    font-size: 14px;
    color: rgba(37, 199, 11, 1);
    margin-top: 10px;
}

.text7_sec2_dop{
    font-family: "robo";
    font-size: 14px;
    color: rgba(37, 199, 11, 1);
    margin-top: 10px;
    display: none;
}

.text_btn_sec2{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn1_sec2{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 3px #ebeaea;
    background-color: white;
}

.btn1_sec2:hover{
    box-shadow: 0px 0px 10px 3px #dbdbdb;
}


.img_heart{
    margin-top: 4px;
}

.img2_heart{
    display: none;
}

.btn1_sec2:active{
    .img2_heart{
        display: block;
        margin-left: 10px;
    }

    .img_heart{
        display: none;
    }
}


.btn2_sec2{
    width: 169px;
    height: 44px;
    border-radius: 8px;
    background-color: rgba(9, 29, 158, 1);
    color: white;
    font-family: "robo";
    font-size: 14px;
    margin-top: 20px;
}

.btn2_sec2_dop{
    display: none;
}

.btn2_sec2:hover{
    background-image: linear-gradient(to right, rgb(142, 153, 224), rgb(23, 45, 188));
    border: 0;
    color: rgba(var(white));
}

.hr_for_media{
    display: none;
}

@media(max-width:1200px){
    /*section2*/
    
    .section2{
        width: 1024px;
        margin: auto;
    }
    
    .container1_sec2{
        width: 1024px;
        height: 1093px;
        margin-top: 40px;
        display: flex;
    }

    .container2_sec2{
        width: 250px;
        height: 710px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 3px #ebeaea;
    }

    .container3_sec2{
        width: 750px;
        height: 1093px;
        margin-left: auto;
    }
    
    
    .image_line_sec2{
        max-width: 30px;
    }

    .cont_inputs{
        width: 225px;
        height: 40px;
        margin: auto;
        display: flex;
        margin-top: 20px;
    }
    
}

@media(max-width:500px){

    /*section2*/
    
    .section2{
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container1_sec2{
        width: 330px;
        height: 2030px;
        margin-top: 0px;
        display: flex;
    }
    
    .container2_sec2{
        width: 280px;
        height: 710px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 3px #ebeaea;
        display: none;
    }

    .hr_none{
        display: none;
    }

    .container3_sec2{
        width: 370px;
        height: 1093px;
        margin-left: initial;
    }

    .container4_sec2{
        flex-direction: column;
        margin-top: 0px;
    }
    
    .container4_1_sec2{
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .img1_sec3{
        width: 101px;
        height: 139px;
    }

    .container5_sec2{
        width: 330px;
        height: 223px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .text4_sec2{
        font-family: "robo";
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .txt_cont_sec2{
        display: flex;
        margin-top: 20px;
    }
    

    .text5_sec2{
        font-family: "robo";
        font-size: 18px;
        margin-top: 8px;
        margin-left: 15px;
    }

    .text6_sec2{
        font-family: "robo";
        font-size: 14px;
        color: rgba(222, 222, 222, 1);
        text-decoration: line-through;
        margin-top: 12px;
        margin-left: 5px;
    }

    .text7_sec2_dop{
        font-family: "robo";
        font-size: 14px;
        color: rgba(37, 199, 11, 1);
        margin-top: 10px;
        display: block;
    }
    
    .text7_sec2{
        display: none;
    }

    .text_dop_sec2{
        display: block;
        font-family: "robo";
        font-size: 14px;
        color: rgba(69, 69, 69, 1);
    }

    .btn2_sec2{
        display: none;
    }

    .btn2_sec2_dop{
        display: block;
        width: 169px;
        height: 44px;
        border-radius: 8px;
        background-color: rgba(9, 29, 158, 1);
        color: white;
        font-family: "robo";
        font-size: 14px;
        margin-top: 0px;
    }

    .hr_for_media{
        display: block;
    }
}

/*footer*/

.head_foot{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.container1_foot{
    width: 330px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont1_foot{
    width: 315px;
    height: 46px;
    display: flex;
    justify-content: space-between;
}

.min_cont_foot{
    width: 53px;
    height: 46px;
}

.image_foot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1_foot{
    font-family: "robo";
    font-size: 14px;
    color: rgba(9, 29, 158, 1);
    margin-top: 5px;
}

.text_foot{
    font-family: "robo";
    font-size: 14px;
    color: rgba(69, 69, 69, 1);
}

.img1_foot{
    margin-bottom: 4px;
}

.img2_foot{
    margin-top: 5px;
    margin-bottom: 5px;
}

.img3_foot{
    margin-bottom: 5px;
}

.img4_foot{
    margin-bottom: 4px;
}

@media(max-width:500px){
    /*footer*/

    .head_foot{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container1_foot{
        width: 330px;
        height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cont1_foot{
        width: 315px;
        height: 46px;
        display: flex;
        justify-content: space-between;
    }
    
    .min_cont_foot{
        width: 53px;
        height: 46px;
    }
    
    .image_foot{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .text1_foot{
        font-family: "robo";
        font-size: 14px;
        color: rgba(9, 29, 158, 1);
        margin-top: 5px;
    }
    
    .text_foot{
        font-family: "robo";
        font-size: 14px;
        color: rgba(69, 69, 69, 1);
    }
    
    .img1_foot{
        margin-bottom: 4px;
    }
    
    .img2_foot{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .img3_foot{
        margin-bottom: 5px;
    }
    
    .img4_foot{
        margin-bottom: 4px;
    }
    
}




