@font-face {
    font-family: "robo";
    src: url(./assets/fonts/Roboto.ttf);
}

@font-face {
    font-family: "int";
    src: url(./assets/fonts/Inter-Regular.otf);
}

@font-face {
    font-family: "read";
    src: url(./assets/fonts/ReadexPro-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}


/*section1*/

.section1{
    width: 1110px;
    margin: auto;
}

.container1_sec1{
    width: 1110px;
    height: 140px;
    margin-top: 40px;
}

.a1{
    font-family: "robo";
    font-size: 16px;
    color: rgba(171, 171, 171, 1);
}

.a2{
    font-family: "robo";
    font-size: 16px;
    color: rgba(69, 69, 69, 1);
}

.text1_sec1{
    font-family: "robo";
    font-size: 32px;
    margin-top: 30px;
}

@media(max-width:1200px){
    /*section1*/
    
    .section1{
        width: 1024px;
        margin: auto;
    }
    
    .container1_sec1{
        width: 1024px;
        height: 140px;
        margin-top: 40px;
    }
}

@media(max-width:500px){
    /*section1*/
    
    .section1{
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container1_sec1{
        width: 330px;
        height: 120px;
        margin-top: 40px;
    }

    .text1_sec1{
        font-family: "robo";
        font-size: 20px;
        margin-top: 30px;
    }
}

 /*section2*/

.section2{
    width: 1110px;
    margin: auto;
}

.container1_sec2{
    width: 1110px;
    height: 630px;
    display: flex;
    justify-content: space-between;
}

.cont_text_sec2{
    width: 354px;
    height: 630px;
}

.cont_price_sec2{
    width: 279px;
    height: 185px;
    background-color: rgba(231, 231, 237, 1);
    border-radius: 8px;
}

.text1_sec2{
    font-family: "robo";
    font-size: 32px;
}

.text2_sec2{
    font-family: "robo";
    font-size: 16px;
    color: rgba(69, 69, 69, 1);
    margin-top: 20px;
}

.color_button_sec2{
    display: flex;
    justify-content: space-between;
    width: 181px;
    margin-top: 20px;
}

.btn1_sec2{
    width: 41px;
    height: 39px;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 8px;
}

.btn2_sec2{
    width: 41px;
    height: 39px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
}

.btn3_sec2{
    width: 41px;
    height: 39px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid black;
}

.cont_characteristic_sec2{
    width: 328px;
    height: 416px;
    margin-top: 30px;
}

.text_charact_sec2{
    font-family: "robo";
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.text1_charact_sec2{
    font-family: "robo";
    font-size: 18px;
    color: rgba(69, 69, 69, 1);
    margin-top: 25px;
}

.dop_price_cont_sec2{
    display: flex;
}

.text_price_sec2{
    font-family: "robo";
    font-size: 24px;
    margin-top: 40px;
    margin-left: 40px;
}

.text2_price_sec2{
    font-family: "robo";
    font-size: 20px;
    margin-top: 43px;
    margin-left: 20px;
    text-decoration: line-through;
    color: rgb(183, 183, 183);
}

.button4_sec2{
    margin-top: 30px;
    margin-left: 40px;
}

.btn4_sec2{
    width: 199px;
    height: 49px;
    font-family: "robo";
    font-size: 16px;
    background-color: rgba(9, 29, 158, 1);
    border-radius: 8px;
    color: white;
}

.btn4_sec2:hover{
    background-image: linear-gradient(to right, rgb(142, 153, 224), rgb(23, 45, 188));
    border: 0;
    color: rgba(var(white));
}

.img1_sec2{
    width: 415px;
    height: 540px;
}

@media(max-width:1200px){
    /*section2*/
    
    .section2{
        width: 1024px;
        margin: auto;
    }
    
    .container1_sec2{
        width: 1024px;
        height: 630px;
        display: flex;
        justify-content: space-between;
    }

    .img1_sec2{
        max-width: 391px;
        max-height: 579px;
    }

    .cont_text_sec2{
        width: 334px;
        height: 630px;
    }

    .cont_price_sec2{
        width: 259px;
        height: 185px;
        background-color: rgba(231, 231, 237, 1);
        border-radius: 8px;
    }

    .text_price_sec2{
        font-family: "robo";
        font-size: 24px;
        margin-top: 40px;
        margin-left: 30px;
    }
    
    .button4_sec2{
        margin-top: 30px;
        margin-left: 30px;
    }
}

@media(max-width:500px){
    /*section2*/

    .section2{
        width: 370px;
        margin: auto;
    }
    
    .container1_sec2{
        width: 330px;
        height: 980px;
        flex-direction: column;
        margin: auto;
    }

    .cont_text_sec2{
        width: 334px;
        height: 560px;
    }

    .img1_sec2{
        max-width: 267px;
        max-height: 383px;
    }

    .cont_img_sec2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text1_sec2{
        font-family: "robo";
        font-size: 20px;
    }
    
    .text2_sec2{
        font-family: "robo";
        font-size: 16px;
        color: rgba(69, 69, 69, 1);
        margin-top: 20px;
    }

    .text_charact_sec2{
        font-family: "robo";
        font-size: 16px;
        color: rgb(0, 0, 0);
    }
    
    .text1_charact_sec2{
        font-family: "robo";
        font-size: 16px;
        color: rgba(69, 69, 69, 1);
        margin-top: 25px;
    }

    .cont_price_sec2{
        display: none;
    }
}

/*section3*/

.section3{
    width: 1110px;
    margin: auto;
}

.container1_sec3{
    width: 1110px;
    height: 329px;
}

.text1_sec3{
    font-family: "robo";
    font-size: 32px;
}

.texts_sec3{
    display: flex;
    width: 268px;
    justify-content: space-between;
    margin-top: 20px;
}

.text2_sec3{
    font-family: "robo";
    font-size: 20px;
    color: rgba(69, 69, 69, 1);
}

.cont_images_sec3{
    width: 1110px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

@media(max-width:1200px){
    /*section3*/
    
    .section3{
        width: 1024px;
        margin: auto;
    }
    
    .container1_sec3{
        width: 1024px;
        height: 329px;
    }

    .cont_images_sec3{
        width: 1024px;
        height: 220px;
        display: flex;
        justify-content: space-between;
    }
    
}

@media(max-width:500px){
    /*section3*/
    
    .section3{
        width: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container1_sec3{
        width: 330px;
        height: 260px;
    }

    .container_images_media_sec3{
        overflow: scroll;
        height: 180px;
    }

    .cont_images_sec3{
        width: 680px;
        height: 140px;
        display: flex;
        justify-content: space-between;
    }

    .img_sec3{
        width: 99px;
        height: 138px;
    }
    
}

/*section4*/

.section4{
    width: 1110px;
    margin: auto;
}

.container1_sec4{
    width: 1110px;
    height: 370px;
    background-color: rgba(188, 197, 255, 1);
    margin-top: 30px;
    border-radius: 8px;
    padding-top: 30px;
}

.cont_stars{
    width: 224px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    
}

.text1_sec4{
    font-family: "robo";
    font-size: 20px;
    margin-top: 4px;
}

.cont_comments{
    height: 262px;
    width: 1050px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.cont1_comment{
    width: 240px;
    height: 262px;
    border-radius: 8px;
    background-color: white;
    padding-top: 30px;
}

.cont_img_sec4{
    width: 212px;
    height: 48px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.cont_name_stars{
    width: 96px;
    height: 40px;
}
.text_name_sec4{
    font-family: "robo";
    font-size: 16px;
    color: rgba(69, 69, 69, 1);
}

.cont_min_stars_sec4{
    width: 96px;
    display: flex;
    justify-content: space-between;
}

.cont_number_sec4{
    width: 40px;
    height: 19px;
}

.text_number_sec4{
    font-family: "robo";
    font-size: 16px;
}

.cont1_text_comments_sec4{
    width: 170px;
    height: 80px;
    margin-left: 25px;
    margin-top: 20px;
}

.cont2_text_comments_sec4{
    width: 170px;
    height: 40px;
    margin-left: 25px;
    margin-top: 20px;
}

.text_comment1_sec4{
    font-family: "robo";
    font-size: 18px;
    margin-top: 20px;
    color: rgba(69, 69, 69, 1);
}

@media(max-width:1200px){
    /*section4*/
    
    .section4{
        width: 1024px;
        margin: auto;
    }
    
    .container1_sec4{
        width: 1024px;
        height: 370px;
        background-color: rgba(188, 197, 255, 1);
        margin-top: 30px;
        border-radius: 8px;
        padding-top: 30px;
    }
    
    .cont_comments{
        height: 262px;
        width: 1000px;
        margin: auto;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:500px){
    /*section4*/
    
    .section4{
        width: auto;
        height: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(188, 197, 255, 1);
    }
    
    .container1_sec4{
        width: 330px;
        height: 315px;
        background-color: transparent;
        margin-top: 20px;
        border-radius: 8px;
        padding-top: 30px;
    }

    .cont_scroll_comment_sec4{
        overflow-x: auto;
        overflow-y: hidden;
        height: 250px;
        margin-left: 0px;
    }
    
    .cont_comments{
        height: 262px;
        width: 940px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .cont1_comment{
        width: 214px;
        height: 200px;
        border-radius: 8px;
        background-color: white;
        padding-top: 30px;
        margin-left: 0px;
    }

    .cont_img_sec4{
        width: 192px;
        height: 41px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .img_animal{
        width: 41px;
        height: 41px;
    }

    .text_name_sec4{
        font-family: "robo";
        font-size: 14px;
        color: rgba(69, 69, 69, 1);
    }

    .stars_media{
        width: 12px;
        height: 12px;
    }

    .text_number_sec4{
        font-family: "robo";
        font-size: 14px;
    }

    .text_comment1_sec4{
        font-family: "robo";
        font-size: 16px;
        margin-top: 20px;
        color: rgba(69, 69, 69, 1);
    }

    .cont2_text_comments_sec4{
        width: 170px;
        height: 40px;
        margin-left: 25px;
        margin-top: 0px;
    }

    .text_comment1_sec4{
        font-family: "robo";
        font-size: 16px;
        margin-top: 0px;
        color: rgba(69, 69, 69, 1);
    }

    .cont1_text_comments_sec4{
        width: 170px;
        height: 80px;
        margin-left: 25px;
        margin-top: 10px;
    }

    .big_stars_media{
        margin-top: 5px;
        width: 24px;
        height: 24px;
    }

    .cont11_comment_sec4{
        margin-right: 0px;
    }

    .cont_stars{
        width: 224px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        margin-left: 2px;
        
    }
}

/*price_panel*/

.dasha_sec0{
    position: sticky;
    bottom: 0;
}

.fixed_panel{
    position: sticky;
    bottom: 0;
}

.price_panel{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    height: 110px;
}

.text_btn_pp{
    display: none;
    width: 330px;
    height: 50px;
    margin: auto;
    
}

.txt1_pp{
    display: none;
    font-family: "robo";
    font-size: 20px;
    margin-top: 13px;
}

.btn1_pp{
    display: none;
    width: 199px;
    height: 49px;
    border-radius: 8px;
    background-color: rgba(9, 29, 158, 1);
    color: white;
    font-family: "robo";
    font-size: 16px;
}

@media(max-width:500px){

    .dasha_sec0{
        position: sticky;
        bottom: 0;
        background-color: white;
    }

    .fixed_panel{
        position: sticky;
        bottom: 0;
    }

    .price_panel{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        height: 110px; 
        padding-top: 30px;
    }

    .text_btn_pp{
        display: flex;
        justify-content: space-between;
        width: 330px;
        height: 50px;
        margin: auto;
    }

    .txt1_pp{
        display: block;
        font-family: "robo";
        font-size: 20px;
    }

    .btn1_pp{
        display: block;
        width: 199px;
        height: 49px;
        border-radius: 8px;
        background-color: rgba(9, 29, 158, 1);
        color: white;
        font-family: "robo";
        font-size: 16px;
    }
}


/*footer*/

.head_foot{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.container1_foot{
    width: 330px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont1_foot{
    width: 315px;
    height: 46px;
    display: flex;
    justify-content: space-between;
}

.min_cont_foot{
    width: 53px;
    height: 46px;
}

.image_foot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1_foot{
    font-family: "robo";
    font-size: 14px;
    color: rgba(9, 29, 158, 1);
    margin-top: 5px;
}

.text_foot{
    font-family: "robo";
    font-size: 14px;
    color: rgba(69, 69, 69, 1);
}

.img1_foot{
    margin-bottom: 4px;
}

.img2_foot{
    margin-top: 5px;
    margin-bottom: 5px;
}

.img3_foot{
    margin-bottom: 5px;
}

.img4_foot{
    margin-bottom: 4px;
}

@media(max-width:500px){
    /*footer*/
    .hr_cont_foot{
        position: sticky;
        bottom: 0;
    }

    .head_foot{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    
    .container1_foot{
        width: 330px;
        height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cont1_foot{
        width: 315px;
        height: 46px;
        display: flex;
        justify-content: space-between;
    }
    
    .min_cont_foot{
        width: 53px;
        height: 46px;
    }
    
    .image_foot{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .text_foot{
        font-family: "robo";
        font-size: 14px;
        color: rgba(69, 69, 69, 1);
    }
    
    .img1_foot{
        margin-bottom: 4px;
    }
    
    .img2_foot{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .img3_foot{
        margin-bottom: 5px;
    }
    
    .img4_foot{
        margin-bottom: 4px;
    }
    
}
